.layout{
    display: grid;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    padding: 40px;
}

.img{
    padding: 20px;
    width: 20px;
    grid-template-columns: 1fr;
}

.col{
    grid-template-areas: 1/2;
}

button{
    background-color: blue;
    color: White;
}

@media (max-width:760px) {
     .layout{
       grid-template-columns: 1fr;
     }    
}
